@use "../helper/variables" as vars;
@use "../helper/containers" as c;

header {
  padding-top: 48px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .hamburger {
      cursor: pointer;
      transition: 0.4s;

      i {
        font-size: 1.5rem;
      }

      &:hover {
        i {
          color: vars.$primary-color;
        }
      }
    }

    .nav {
      display: none;
      flex-direction: column;
      gap: 1.25rem;
      background-color: vars.$aca-light;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      padding: 1rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 12px 12px;
      z-index: 999999;
      width: 0;
      overflow: hidden;
      transform: scale(1);
      transition: width 0.3s ease;

      &.show {
        display: flex;
        width: 100%;
      }

      &__links {
        order: 2;
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 1rem;
        font-weight: 500;

        li {
          position: relative;

          .link {
            color: vars.$aca-dark;

            &::after {
              content: "";
              display: block;
              height: 3px;
              width: 0;
              background-color: vars.$primary-color;
              transition: 0.4s;
            }

            &:hover {
              &::after {
                width: 10px;
              }
            }

            span::after {
              font-family: "Font Awesome 6 Free";
              font-weight: 900;
              content: "\f078";
              margin-left: 8px;
              transform: rotate(0);
              display: inline-block;
              transition: transform 0.4s;
            }

            span:hover::after {
              // content: "\f077";
              transform: rotate(-180deg);
            }

            &:hover {
              .categories__links {
                display: grid;
              }
            }
          }

          .categories__links {
            opacity: 0;
            transform: scale(0.95);
            pointer-events: none;
            gap: 20px;
            padding: 16px 20px;
            width: 240px;
            position: absolute;
            top: 1.25rem;
            left: 0;
            z-index: 99999999;
            background-color: vars.$aca-light;
            border-radius: vars.$border-radius-12;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            transition: transform 0.4s;

            li {
              a {
                transition: color 0.4s;
              }

              &:hover {
                a {
                  color: vars.$secondary-color;
                }
              }
            }
          }

          &:hover {
            .categories__links {
              display: grid;
              opacity: 1;
              transform: scale(1);
              pointer-events: auto;
            }
          }
        }
      }

      .search {
        order: 3;
        background-color: vars.$aca-gray;
        border-radius: vars.$border-radius-12;
        padding: 0px 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;

        input {
          border: none;
          outline: none;
          background-color: transparent;
          flex: 1;

          ::placeholder {
            color: vars.$aca-dark-25;
          }
        }

        i {
          font-size: 1rem;
          color: vars.$aca-dark-25;

          &:hover {
            color: vars.$primary-color;
          }
        }

        button {
          margin-left: auto;
        }
      }

      .user {
        order: 1;
        display: flex;
        align-items: center;
        gap: 12px;
        position: relative;

        &__avatar {
          height: 4rem;
          width: 4rem;
          border-radius: vars.$border-radius-12;
          overflow: hidden;

          img {
            border-radius: vars.$border-radius-12;
          }
        }

        &__details {
          height: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 12px;

          &_name {
            font-weight: 600;
          }

          &_role {
            font-size: 0.75rem;
            color: vars.$aca-dark-75;
          }
        }

        &__notification {
          background-color: vars.$primary-color-5;
          border-radius: vars.$border-radius-12;
          width: 4rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.4s;

          i {
            color: vars.$primary-color;
            width: 1.25rem;
            height: 1.25rem;
          }

          &:hover {
            background-color: vars.$primary-color;

            i {
              color: vars.$aca-light;
            }
          }
        }

        .close__btn {
          margin-left: auto;
          font-weight: 600;
        }
      }
    }
  }

  .hero {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: vars.$base-padding;
    // background-color: #f8f9d3;

    @media (min-width: 900px) {
      height: 100vh;
      padding: 1rem 0;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
      height: 100vh;
      padding: 4rem 0;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
    }

    &__details {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (min-width: 900px) {
        align-items: flex-start;
        justify-content: start;
        padding-top: 82px;
      }

      h1 {
        font-size: 1.55rem;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.25rem;
        line-height: 1.6;

        @media (min-width: 900px) {
          font-size: 2.5rem;
        }

        @media (min-width: 1200px) {
          font-size: 40px;
        }

        .web {
          background: vars.$base-gradient-left;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }

      .arrow__down {
        width: 4.25rem;
        height: 5rem;
      }

      &_cta {
        display: flex;
        align-items: center;
        gap: 2rem;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          flex: 1;
          border-radius: vars.$border-radius-12;
          padding: 1.25rem 1.5rem;
        }

        img {
          flex: 1;
        }
      }
    }

    &__image {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    .nav__wrapper {
      position: sticky;
      top: 0;
      z-index: 999999; // Ensure it stays on top
      background-color: vars.$aca-light;
      nav {
        .hamburger {
          display: none;
        }

        .nav {
          display: flex !important;
          width: auto !important;
          position: static;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          box-shadow: none !important;
          padding: 0;
          border-radius: 0;
          overflow: visible;
          transition: none !important;

          &__links {
            order: 1;
          }

          .search {
            order: 2;
          }

          .user {
            order: 3;

            .close__btn {
              display: none;
            }
          }
        }
      }
    }
  }
}

#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none; /* hidden by default */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}
