@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  min-height: 100dvh;
  color: #080808;
  overflow-x: clip;
}

a {
  text-decoration: none;
  color: #080808;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.ac__container-xl {
  max-width: 1512px;
  margin: auto;
}

.ac__container-lg {
  max-width: 1512px;
  margin: auto;
}

.text-gradient {
  background: linear-gradient(to right, #b176f2, #fac1f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.stick-top {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  transform: translateY(0);
}

.remove-sticky {
  position: static;
}

.btn__primary {
  background-color: #080808;
  color: #fdfdfd;
  transition: 0.4s;
}
.btn__primary:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
  background-color: #ff991f;
}

header {
  padding-top: 48px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav .hamburger {
  cursor: pointer;
  transition: 0.4s;
}
header nav .hamburger i {
  font-size: 1.5rem;
}
header nav .hamburger:hover i {
  color: #9e5cf2;
}
header nav .nav {
  display: none;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #fdfdfd;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 12px 12px;
  z-index: 999999;
  width: 0;
  overflow: hidden;
  transform: scale(1);
  transition: width 0.3s ease;
}
header nav .nav.show {
  display: flex;
  width: 100%;
}
header nav .nav__links {
  order: 2;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1rem;
  font-weight: 500;
}
header nav .nav__links li {
  position: relative;
}
header nav .nav__links li .link {
  color: #080808;
}
header nav .nav__links li .link::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #9e5cf2;
  transition: 0.4s;
}
header nav .nav__links li .link:hover::after {
  width: 10px;
}
header nav .nav__links li .link span::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f078";
  margin-left: 8px;
  transform: rotate(0);
  display: inline-block;
  transition: transform 0.4s;
}
header nav .nav__links li .link span:hover::after {
  transform: rotate(-180deg);
}
header nav .nav__links li .link:hover .categories__links {
  display: grid;
}
header nav .nav__links li .categories__links {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  gap: 20px;
  padding: 16px 20px;
  width: 240px;
  position: absolute;
  top: 1.25rem;
  left: 0;
  z-index: 99999999;
  background-color: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s;
}
header nav .nav__links li .categories__links li a {
  transition: color 0.4s;
}
header nav .nav__links li .categories__links li:hover a {
  color: #ff991f;
}
header nav .nav__links li:hover .categories__links {
  display: grid;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
header nav .nav .search {
  order: 3;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 0px 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}
header nav .nav .search input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
}
header nav .nav .search input ::placeholder {
  color: rgba(8, 8, 8, 0.2901960784);
}
header nav .nav .search i {
  font-size: 1rem;
  color: rgba(8, 8, 8, 0.2901960784);
}
header nav .nav .search i:hover {
  color: #9e5cf2;
}
header nav .nav .search button {
  margin-left: auto;
}
header nav .nav .user {
  order: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}
header nav .nav .user__avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 12px;
  overflow: hidden;
}
header nav .nav .user__avatar img {
  border-radius: 12px;
}
header nav .nav .user__details {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
header nav .nav .user__details_name {
  font-weight: 600;
}
header nav .nav .user__details_role {
  font-size: 0.75rem;
  color: rgba(8, 8, 8, 0.7294117647);
}
header nav .nav .user__notification {
  background-color: rgba(158, 92, 242, 0.05);
  border-radius: 12px;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
}
header nav .nav .user__notification i {
  color: #9e5cf2;
  width: 1.25rem;
  height: 1.25rem;
}
header nav .nav .user__notification:hover {
  background-color: #9e5cf2;
}
header nav .nav .user__notification:hover i {
  color: #fdfdfd;
}
header nav .nav .user .close__btn {
  margin-left: auto;
  font-weight: 600;
}
header .hero {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 1.25rem;
}
@media (min-width: 900px) {
  header .hero {
    height: 100vh;
    padding: 1rem 0;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  header .hero {
    height: 100vh;
    padding: 4rem 0;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
header .hero__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 900px) {
  header .hero__details {
    align-items: flex-start;
    justify-content: start;
    padding-top: 82px;
  }
}
header .hero__details h1 {
  font-size: 1.55rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem;
  line-height: 1.6;
}
@media (min-width: 900px) {
  header .hero__details h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  header .hero__details h1 {
    font-size: 40px;
  }
}
header .hero__details h1 .web {
  background: linear-gradient(to left, #b176f2, #fac1f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
header .hero__details .arrow__down {
  width: 4.25rem;
  height: 5rem;
}
header .hero__details_cta {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .hero__details_cta button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1;
  border-radius: 12px;
  padding: 1.25rem 1.5rem;
}
header .hero__details_cta img {
  flex: 1;
}
header .hero__image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
header .hero__image img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media (min-width: 1200px) {
  header .nav__wrapper {
    position: sticky;
    top: 0;
    z-index: 999999;
    background-color: #fdfdfd;
  }
  header .nav__wrapper nav .hamburger {
    display: none;
  }
  header .nav__wrapper nav .nav {
    display: flex !important;
    width: auto !important;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;
    padding: 0;
    border-radius: 0;
    overflow: visible;
    transition: none !important;
  }
  header .nav__wrapper nav .nav__links {
    order: 1;
  }
  header .nav__wrapper nav .nav .search {
    order: 2;
  }
  header .nav__wrapper nav .nav .user {
    order: 3;
  }
  header .nav__wrapper nav .nav .user .close__btn {
    display: none;
  }
}
#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none; /* hidden by default */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}

main .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
main .search h1 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.6;
}
@media (min-width: 900px) {
  main .search h1 {
    font-size: 2.5rem;
  }
}
main .search__components {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
@media (min-width: 900px) {
  main .search__components {
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    position: relative;
  }
}
main .search__components_elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 12px;
}
@media (min-width: 900px) {
  main .search__components_elements {
    width: 744px;
  }
}
main .search__components_elements .input__wrapper {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
main .search__components_elements .input__wrapper button {
  padding: 10px 24px;
  border-radius: 10px;
}
main .search__components_elements .input__wrapper input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 2;
  font-size: 1rem;
  color: #080808;
}
main .search__components_elements .input__wrapper input::placeholder {
  color: rgba(8, 8, 8, 0.2901960784);
  font-size: 13px;
}
main .search__components_elements button i {
  font-size: 1.25rem;
  color: rgba(8, 8, 8, 0.2901960784);
  flex: 1;
  transition: 0.4s;
}
main .search__components_elements button:hover i {
  color: #ff991f;
}
main .search__components p {
  color: rgba(8, 8, 8, 0.7294117647);
  font-size: 1rem;
}
main .search__components img {
  width: 78px;
  height: 40px;
}
@media (min-width: 900px) {
  main .search__components img {
    position: absolute;
    top: -20px;
    right: -75px;
  }
}

main .new__courses_header {
  padding-top: 2.5rem;
  display: grid;
  gap: 1.25rem;
}
@media (min-width: 900px) {
  main .new__courses_header {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
main .new__courses_header--links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
main .new__courses_header--links li a {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 24px;
  color: #080808;
  border-radius: 10px;
  transition: background-color 0.4s;
}
main .new__courses_header--links li.active a {
  background-color: #f5f5f5;
}
main .new__courses_header--links li:hover a {
  background-color: #080808;
  color: #fdfdfd;
}
main .new__courses_header--links li button {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 12px;
}
main .new__courses_header--links li button i {
  color: rgba(8, 8, 8, 0.5);
}
main .new__courses_courses {
  margin-top: 2rem;
  display: grid;
  gap: 1.25rem;
}
@media (min-width: 600px) {
  main .new__courses_courses {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  main .new__courses_courses {
    grid-template-columns: repeat(4, 1fr);
  }
}
main .new__courses_courses--course {
  background-color: #f5f5f5;
  padding: 10px 10px 20px;
  border-radius: 12px;
  display: grid;
  gap: 1.5rem;
  border: 1px solid rgba(8, 8, 8, 0.05);
  transition: box-shadow 0.4s;
}
main .new__courses_courses--course-img {
  border-radius: 10px;
  overflow: hidden;
}
main .new__courses_courses--course-details {
  display: grid;
  gap: 1.25rem;
}
main .new__courses_courses--course-details h3 {
  font-size: 1rem;
  font-weight: 600;
}
main .new__courses_courses--course-details .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .new__courses_courses--course-details .info__item {
  display: flex;
  gap: 8px;
}
main .new__courses_courses--course-details .info__item i {
  font-size: 1rem;
  color: rgba(8, 8, 8, 0.2901960784);
}
main .new__courses_courses--course-details .info__item p {
  font-size: 13px;
  color: rgba(8, 8, 8, 0.7294117647);
}
main .new__courses_courses--course-details .cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .new__courses_courses--course-details .cta button {
  padding: 12px 24px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}
main .new__courses_courses--course-details .cta .rating {
  display: flex;
  gap: 8px;
}
main .new__courses_courses--course-details .cta .rating i {
  color: #ff991f;
}
main .new__courses_courses--course:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
}

main .instructors {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 1400px) {
  main .instructors {
    flex-direction: row;
    align-items: center;
    gap: 15rem;
  }
}
main .instructors__info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 1400px) {
  main .instructors__info {
    flex: 1;
  }
}
main .instructors__info h1 {
  font-size: 38px;
  font-weight: 900;
}
main .instructors__info h1 span {
  background: linear-gradient(to left, #b176f2, #fac1f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main .instructors__info p {
  font-size: 14px;
  color: rgba(8, 8, 8, 0.7294117647);
}
main .instructors__info .cta {
  position: relative;
  margin-top: 3rem;
}
main .instructors__info .cta button {
  font-size: 14px;
  padding: 16px 20px;
  border-radius: 10px;
  display: flex;
  gap: 12px;
  align-items: center;
}
main .instructors__info .cta .arrow,
main .instructors__info .cta .ad {
  position: absolute;
}
main .instructors__info .cta .arrow {
  width: 78px;
  top: 0;
  left: 160px;
}
main .instructors__info .cta .ad {
  width: 109px;
  top: -30px;
  left: 220px;
}
main .instructors__cards {
  background-image: url("../images/instructor-bg.png");
  background-position: center center;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  display: grid;
  gap: 1.25rem;
}
@media (min-width: 600px) {
  main .instructors__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  main .instructors__cards {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}
@media (min-width: 1400px) {
  main .instructors__cards {
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
  }
}
main .instructors__cards_card {
  border-radius: 12px;
  padding: 10px 10px 20px;
  background-color: #f5f5f5;
  display: grid;
  gap: 1.25rem;
  border: 1px solid rgba(8, 8, 8, 0.05);
  transition: box-shadow 0.4s;
}
@media (min-width: 1000px) {
  main .instructors__cards_card {
    width: 232px;
    height: 232px;
  }
}
main .instructors__cards_card--img {
  overflow: hidden;
  height: 232px;
  border-radius: 10px;
}
@media (min-width: 1000px) {
  main .instructors__cards_card--img {
    height: auto;
  }
}
main .instructors__cards_card--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -40px;
}
@media (min-width: 530px) {
  main .instructors__cards_card--img img {
    object-position: center -80px;
  }
}
main .instructors__cards_card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .instructors__cards_card:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
}

main .your__courses {
  margin-top: 5rem;
}
main .your__courses_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .your__courses_header h1 {
  font-size: 20px;
  font-weight: 700;
}
main .your__courses_header button {
  padding: 10px 24px;
  background-color: #f5f5f5;
  color: rgba(8, 8, 8, 0.7294117647);
  font-size: 14px;
  font-weight: 500;
}
main .your__courses_cards {
  margin-top: 2.5rem;
  display: grid;
  gap: 24px;
}
@media (min-width: 1200px) {
  main .your__courses_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
main .your__courses_cards--card {
  background: #f5f5f5;
  border: 1px solid rgba(8, 8, 8, 0.05);
  overflow: hidden;
  border-radius: 12px;
  transition: box-shadow 0.4s;
}
@media (min-width: 660px) {
  main .your__courses_cards--card {
    height: 260px;
    display: flex;
  }
}
main .your__courses_cards--card-img {
  height: 400px;
  flex: 1;
}
@media (min-width: 660px) {
  main .your__courses_cards--card-img {
    height: auto;
  }
}
main .your__courses_cards--card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .your__courses_cards--card-details {
  flex: 1;
  display: grid;
  gap: 1.25rem;
  padding: 20px;
}
main .your__courses_cards--card-details h4 {
  font-size: 1rem;
  font-weight: 600;
}
main .your__courses_cards--card-details .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .your__courses_cards--card-details .info__item {
  display: flex;
  gap: 8px;
  color: rgba(8, 8, 8, 0.7294117647);
  font-size: 13px;
  font-weight: 500;
}
main .your__courses_cards--card-details .info__item i {
  color: rgba(8, 8, 8, 0.2901960784);
}
main .your__courses_cards--card-details .progress {
  display: grid;
  gap: 8px;
}
main .your__courses_cards--card-details .progress input[type=range] {
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
}
main .your__courses_cards--card-details .progress input[type=range]:disabled {
  opacity: 1;
  cursor: not-allowed;
}
main .your__courses_cards--card-details .progress input[type=range]:disabled::-webkit-slider-thumb {
  background: #5a69f2;
  cursor: not-allowed;
}
main .your__courses_cards--card-details .progress input[type=range]:disabled::-webkit-slider-runnable-track {
  background-color: #009e68;
  border-radius: 12px;
}
main .your__courses_cards--card-details .progress input[type=range]:disabled::-moz-slider-thumb {
  background: #5a69f2;
  cursor: not-allowed;
}
main .your__courses_cards--card-details .progress input[type=range]:disabled::-moz-slider-runnable-track {
  background-color: #009e68;
  border-radius: 12px;
}
main .your__courses_cards--card-details .progress__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(8, 8, 8, 0.7294117647);
  font-size: 12px;
}
main .your__courses_cards--card-details .progress__info .points {
  margin-left: 2rem;
}
main .your__courses_cards--card-details .instructor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .your__courses_cards--card-details .instructor div {
  display: flex;
  gap: 8px;
}
main .your__courses_cards--card-details .instructor div .img {
  height: 44px;
  width: 44px;
  border-radius: 10px;
  overflow: hidden;
}
main .your__courses_cards--card-details .instructor div .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .your__courses_cards--card-details .instructor div .details .name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
main .your__courses_cards--card-details .instructor div .details .role {
  font-size: 12px;
  line-height: 1;
  color: rgba(8, 8, 8, 0.7294117647);
}
main .your__courses_cards--card-details .instructor button {
  display: flex;
  gap: 8px;
  padding: 10px 24px;
  border-radius: 10px;
}
main .your__courses_cards--card:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
}

main .newsletter {
  margin-top: 5rem;
  position: relative;
  padding: 20px;
}
main .newsletter .bg-underlay {
  height: 100%;
  width: 100%;
  background-color: #f6f7fe;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 12px 12px 0;
}
@media (min-width: 1100px) {
  main .newsletter .bg-underlay {
    position: absolute;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -200px;
  }
}
@media (min-width: 1100px) {
  main .newsletter {
    display: flex;
    align-items: center;
    padding: 70px 0;
    gap: 153px;
  }
}
main .newsletter__info {
  flex: 1;
  margin-bottom: 24px;
}
@media (min-width: 1100px) {
  main .newsletter__info {
    margin-bottom: 0;
  }
}
main .newsletter__info h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.6;
}
main .newsletter__info h1 span {
  color: #5a69f2;
}
main .newsletter__el {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
@media (min-width: 1100px) {
  main .newsletter__el {
    height: 322px;
  }
}
main .newsletter__el .img {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
}
@media (min-width: 1100px) {
  main .newsletter__el .img {
    width: 408px;
  }
}
main .newsletter__el .img img {
  width: 100%;
  height: 100%;
}
main .newsletter__el .cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid rgba(8, 8, 8, 0.1);
  background-color: #fdfdfd;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  main .newsletter__el .cta {
    width: 486px;
  }
}
main .newsletter__el .cta input {
  border: none;
  outline: none;
  flex: 1;
}
main .newsletter__el .cta button {
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
}

main .top__courses {
  display: grid;
  gap: 24px;
}
main .top__courses_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .top__courses_header h1 {
  font-size: 20px;
  font-weight: 700;
}
main .top__courses_header .btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
main .top__courses_header .btns button {
  padding: 12px;
  border-radius: 12px;
  background-color: #f5f5f5;
}
main .top__courses_header .btns button i {
  font-size: 1rem;
}
main .top__courses_cards {
  display: grid;
  gap: 24px;
}
@media (min-width: 660px) {
  main .top__courses_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  main .top__courses_cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
main .top__courses_cards--card {
  background-color: #f5f5f5;
  border: 1px solid rgba(8, 8, 8, 0.1);
  border-radius: 12px;
  padding: 10px 10px 20px;
  display: grid;
  gap: 1.25rem;
  transition: box-shadow 0.4s;
}
main .top__courses_cards--card .img {
  overflow: hidden;
  border-radius: 10px;
}
main .top__courses_cards--card .details {
  display: grid;
  gap: 1.25rem;
}
main .top__courses_cards--card .details .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .top__courses_cards--card .details .info__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .top__courses_cards--card .details .info__item i {
  color: rgba(8, 8, 8, 0.2901960784);
  font-size: 1rem;
}
main .top__courses_cards--card .details .info__item span {
  font-size: 13px;
  color: rgba(8, 8, 8, 0.7294117647);
}
main .top__courses_cards--card .details .cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .top__courses_cards--card .details .cta button {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
}
main .top__courses_cards--card .details .cta .rating {
  display: flex;
  align-items: center;
  gap: 4px;
}
main .top__courses_cards--card .details .cta .rating i {
  color: #ff991f;
}
main .top__courses_cards--card:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
}

footer {
  margin-top: 7rem;
}
footer .company {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  footer .company {
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }
}
footer .company__description {
  background-color: #fff5f5;
  padding: 30px;
  border-radius: 40px 60px 90px 40px;
  text-align: justify;
}
footer .company .logo {
  padding: 30px;
  width: 50%;
}
@media (min-width: 768px) {
  footer .company .logo {
    width: 100%;
  }
}

footer .components {
  margin-top: 24px;
  display: grid;
  gap: 48px;
}
@media (min-width: 900px) {
  footer .components {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  footer .components {
    grid-template-columns: repeat(3, 1fr);
  }
}
footer .components .certificate {
  display: grid;
  gap: 24px;
}
footer .components .certificate h3 {
  font-size: 20px;
  font-weight: 700;
}
footer .components .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .components .links .categories ul,
footer .components .links .quick__access ul {
  display: grid;
  gap: 1rem;
}
footer .components .links .categories ul li a,
footer .components .links .quick__access ul li a {
  font-size: 13px;
  font-weight: 500;
  transition: color 0.4s;
}
footer .components .links .categories ul li a:hover,
footer .components .links .quick__access ul li a:hover {
  color: #5a69f2;
}
footer .components .links .categories,
footer .components .links .quick__access {
  display: grid;
  gap: 20px;
}
footer .components .links .categories h3,
footer .components .links .quick__access h3 {
  font-size: 20px;
  font-weight: 700;
}
footer .components .comments {
  display: grid;
  gap: 20px;
}
footer .components .comments h3 {
  font-size: 20px;
  font-weight: 700;
}
footer .components .comments__cards {
  display: grid;
  gap: 20px;
}
footer .components .comments__cards_card {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 1rem;
}
footer .components .comments__cards_card h6 {
  font-size: 13px;
  font-weight: 500;
}
footer .components .comments__cards_card p {
  font-size: 12px;
  color: rgba(8, 8, 8, 0.7294117647);
}

footer .bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: rgba(8, 8, 8, 0.7294117647);
  border-radius: 12px;
  background-color: #f5f5f5;
  padding: 24px;
}
footer .bottom .policy {
  display: flex;
  gap: 4px;
}
footer .bottom .policy a {
  transition: color 0.4s;
}
footer .bottom .policy a:hover {
  color: #ff991f;
}

/*# sourceMappingURL=style.css.map */
