@use "./variables" as vars;
@use "./containers" as c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$aca-light;
  font-family: vars.$primary-font;
  padding: 1rem;
  min-height: 100dvh;
  color: vars.$aca-dark;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.ac__container-xl {
  @include c.aca-container-xl;
}

.ac__container-lg {
  @include c.aca-container-lg;
}

.text-gradient {
  background: vars.$base-gradient-right;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
