$primary: #9e5cf2;
$primary-5: #9d5cf20b;
$dark: #080808;
$gray: #f5f5f5;
$light: #fdfdfd;
$dark-75: #080808ba;
$dark-25: #0808084a;

$base-border-radius: 12px;

$base-gradient: linear-gradient(#b176f2, #fac1f1);
